.card {
  min-width: 300px;
  max-width: 30%;
  margin: 20px 30px;
  .card-informations {
    width: 100%;
    margin: 10px 0;
  }
  .btn-card-agenda {
    display: flex;
    justify-content: space-between;
    a {
      margin: 0 15px;
      width: 120px;
      padding: auto;
    }
  }
}
.cardList {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.addButton {
  bottom: 10%;
  right: 5%;
  border-radius: 100%;
  position: fixed;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 2rem;
}
h3 {
  margin-left: 20px;
  font-size: 2rem;
}
