<div class="main-screen">
    <div class="filters">
    </div>
    <div class="today">
        <h3>
            Aujourd'hui
        </h3>
        <div class="cardList">
            <div class="card">
                <img src="../../../assets/images/restaurant.jpg" class="card-img-top" alt="...">
                    <div class="card-informations">
                    <h5 class="card-title">Restau Vendredi</h5>
                    <p class="card-text">22/09/2021 12h10</p>
                    <div class="btn-card-agenda">
                        <a href="#" class="btn btn-primary">Afficher</a>
                        <a href="#" class="btn btn-danger">J'annule</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="thisWeek">
        <h3>Cette semaine</h3>
        <div class="cardList">
            <div class="card">
                <img src="../../../assets/images/restaurant.jpg" class="card-img-top" alt="...">
                <div class="card-informations">
                  <h5 class="card-title">Restau Vendredi</h5>
                  <p class="card-text">22/09/2021 12h10</p>
                  <div class="btn-card-agenda">
                    <a href="#" class="btn btn-primary">Afficher</a>
                    <a href="#" class="btn btn-danger">J'annule</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <img src="../../../assets/images/restaurant.jpg" class="card-img-top" alt="...">
                <div class="card-informations">
                  <h5 class="card-title">Restau Vendredi</h5>
                  <p class="card-text">22/09/2021 12h10</p>
                  <div class="btn-card-agenda">
                    <a href="#" class="btn btn-primary">Afficher</a>
                    <a href="#" class="btn btn-danger">J'annule</a>
                  </div>
                </div>
              </div>
        </div>

    </div>
    <div class="thisMonth">
        <h3>Ce mois-ci</h3>
        <div class="cardList">
            <div class="card">
                <img src="../../../assets/images/restaurant.jpg" class="card-img-top" alt="...">
                <div class="card-informations">
                  <h5 class="card-title">Restau Vendredi</h5>
                  <p class="card-text">22/09/2021 12h10</p>
                  <div class="btn-card-agenda">
                    <a href="#" class="btn btn-primary">Afficher</a>
                    <a href="#" class="btn btn-danger">J'annule</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <img src="../../../assets/images/restaurant.jpg" class="card-img-top" alt="...">
                <div class="card-informations">
                  <h5 class="card-title">Restau Vendredi</h5>
                  <p class="card-text">22/09/2021 12h10</p>
                  <div class="btn-card-agenda">
                    <a href="#" class="btn btn-primary">Afficher</a>
                    <a href="#" class="btn btn-danger">J'annule</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <img src="../../../assets/images/restaurant.jpg" class="card-img-top" alt="...">
                <div class="card-informations">
                  <h5 class="card-title">Restau Vendredi</h5>
                  <p class="card-text">22/09/2021 12h10</p>
                  <div class="btn-card-agenda">
                    <a href="#" class="btn btn-primary">Afficher</a>
                    <a href="#" class="btn btn-danger">J'annule</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <img src="../../../assets/images/restaurant.jpg" class="card-img-top" alt="...">
                <div class="card-informations">
                  <h5 class="card-title">Restau Vendredi</h5>
                  <p class="card-text">22/09/2021 12h10</p>
                  <div class="btn-card-agenda">
                    <a href="#" class="btn btn-primary">Afficher</a>
                    <a href="#" class="btn btn-danger">J'annule</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <img src="../../../assets/images/restaurant.jpg" class="card-img-top" alt="...">
                <div class="card-informations">
                  <h5 class="card-title">Restau Vendredi</h5>
                  <p class="card-text">22/09/2021 12h10</p>
                  <div class="btn-card-agenda">
                    <a href="#" class="btn btn-primary">Afficher</a>
                    <a href="#" class="btn btn-danger">J'annule</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>