
    <div class="bg-light border-right webNavbar" id="sidebar-wrapper">
        <div class="sidebar-heading">
          <img src="../../../assets/images/MistralEventLogo.png" alt="">
          <span>Mistral Event</span>
        </div>
        <div class="profilSidebar">
          <img src="../../../assets/images/8030242949697342-Male_16.jpg" alt="Photo de profil">
          <h3> Anthony PFEIFER </h3>
        </div>
        <div class="list-group list-group-flush">
          <a routerLink="agenda" class="list-group-item list-group-item-action "><fa-icon [icon]="calendarAltIcon"></fa-icon> Mon agenda</a>
          <a href="#" class="list-group-item list-group-item-action "><fa-icon [icon]="glassCheersIcon"></fa-icon> Voir les évènements à venir</a>
          <a href="#" class="list-group-item list-group-item-action "><fa-icon [icon]="mapSignsIcon"></fa-icon> Liste des adresses</a>
          <a routerLink="account" class="list-group-item list-group-item-action "><fa-icon [icon]="cogIcon"></fa-icon> Gérer son compte</a>
          <a href="#" class="list-group-item list-group-item-action "><fa-icon [icon]="exitIcon"></fa-icon> Déconnexion</a>
        </div>
    </div>

    <div class="bg-light border-right tabletNavbar" id="sidebar-wrapper">
      <div class="sidebar-heading">
        <img src="../../../assets/images/MistralEventLogo.png" alt="">
      </div>
      <div class="profilSidebar">
        <img src="../../../assets/images/8030242949697342-Male_16.jpg" alt="Photo de profil">
      </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action "><fa-icon [icon]="calendarAltIcon"></fa-icon></a>
        <a href="#" class="list-group-item list-group-item-action "><fa-icon [icon]="glassCheersIcon"></fa-icon></a>
        <a href="#" class="list-group-item list-group-item-action "><fa-icon [icon]="mapSignsIcon"></fa-icon></a>
        <a routerLink="account" class="list-group-item list-group-item-action "><fa-icon [icon]="cogIcon"></fa-icon></a>
        <a href="#" class="list-group-item list-group-item-action "><fa-icon [icon]="exitIcon"></fa-icon></a>
      </div>
  </div>
