.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gainsboro;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: row;
  .footer-item {
    width: 20%;
  }
}
