<div>

  <div class="d-flex" id="wrapper">
          <div *ngIf="isMobile; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>
              <div class=" footer" >  
                <a href="#" class=" footer-item list-group-item list-group-item-action bg-light">Agenda</a>
                <a href="#" class=" footer-item list-group-item list-group-item-action bg-light">Events</a>
                <a href="#" class=" footer-item list-group-item list-group-item-action bg-light">Adresses</a>
                <a href="#" class=" footer-item list-group-item list-group-item-action bg-light">Gérer son compte</a>
                <a href="#" class=" footer-item list-group-item list-group-item-action bg-light">Déconnexion</a>
              </div>
            </ng-template>
            <ng-template #elseBlock>         
              <div class="bg-light border-right" id="sidebar-wrapper">
                <div class="sidebar-heading">
                  Mistral Event 
                </div>
                <div class="list-group list-group-flush">
                  <a href="#" class="list-group-item list-group-item-action bg-light">Voir les évènements à venir</a>
                  <a href="#" class="list-group-item list-group-item-action bg-light">Gérer son compte</a>
                  <a href="#" class="list-group-item list-group-item-action bg-light">Déconnexion</a>
                </div>
              </div>
            </ng-template>
    </div>



</div>    