<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Mistral Event </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Voir les évènements à venir</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Gérer son compte</a>
        <a href="#" class="list-group-item list-group-item-action bg-light">Déconnexion</a>
      </div>
    </div>

  </div>
  <!-- /#wrapper -->