<div class="mobileNavbar" >  
    <a href="#" class=" navbar-item list-group-item list-group-item-action"><fa-icon [icon]="calendarAltIcon"></fa-icon></a>
    <a href="#" class=" navbar-item list-group-item list-group-item-action "><fa-icon [icon]="glassCheersIcon"></fa-icon></a>
    <a href="#" class=" navbar-item list-group-item list-group-item-action"><fa-icon [icon]="mapSignsIcon"></fa-icon></a>
    <a href="#" class=" navbar-item list-group-item list-group-item-action "><fa-icon [icon]="cogIcon"></fa-icon></a>
    <a href="#" class=" navbar-item list-group-item list-group-item-action "><fa-icon [icon]="exitIcon"></fa-icon></a>
  </div>