/* You can add global styles to this file, and also import other style files */

/* 
 * Main screen
 */

@media screen and (min-width: 200px) and (max-width: 375px) {
    .main-screen {
        margin-left: 0px;
        margin-Top: 36px;
        padding-top: 10px;
    }
  }
  
  @media screen and (max-width: 576px) {
    .main-screen {
        margin-left: 100px;
        margin-Top: 36px;
        padding-top: 10px;
    }
  }
  
  @media screen and (min-width: 576px) and (max-width: 767px) {
    .main-screen {
        margin-left: 100px;
        margin-Top: 36px;
        padding-top: 10px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 992px) {
    .main-screen {
        margin-left: 234px;
        margin-Top: 36px;
        padding-top: 10px;
    }
  }
  
  @media screen and (min-width: 992px) {
    .main-screen {
        margin-left: 234px;
        margin-Top: 36px;
        padding-top: 10px;
    }
  }
  
  @media screen and (min-width: 1200px) {
    .main-screen {
        margin-left: 234px;
        margin-Top: 36px;
        padding-top: 10px;
    }
  }

/* 
 * Avatar
 */
.avatar {
    border-radius: 50%;
}
