/* Profile */
.profile-avatar {
  width: 100%;
}

.change-avatar-btn {
  font-size: 0.8rem;
}

.profile-title {
  font-size: 2rem;
  font-weight: bold;
}

.profile-mail {
}

.card-footer {
  text-align: right;
}

.profilSidebar {
  display: flex;
  justify-content: center;
  flex-direction: column;
  img {
    border-radius: 50%;
    max-width: 100%;
    align-self: center;
  }
  h3 {
    text-align: center;
  }
}