<div class="card">
  <img src="../../../assets/images/restaurant.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <div class="card-informations">
      <h4 class="card-title">{{evenement.name}}</h4>
      <p class="card-text">{{evenement.date | date: 'dd/MM/yyyy H:mm'}}</p>
    </div>
    {{evenement.description.length > 200 ? (evenement.description | slice:0:200)+'...' : evenement.description }}
    <div class="btn-card-agenda">
      <a href="#" class="btn btn-primary">Afficher</a>
      <a href="#" class="btn btn-danger">J'annule</a>
    </div>
  </div>
</div>